
@{
    ViewBag.Title = "UploadFile";
}

<h2>Upload Result</h2>

@using (Html.BeginForm("UploadResult", "Grades", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span> <input type="file" name="excelfile" />
    <br />
    <input type="submit" value="Import" />
}
